*{
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar is Here */
#nav-head{
    font-size: 24px;
    font-weight: 200;
}
.navbar{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 12px;
}
/*Home Page is Here */
.home{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 12px;
    gap: 150px;
    background-color: antiquewhite;
}
.home img{
    width: 40%;
    border-radius:20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Card Section Starts Here */
.cards img{
    width:50%;
    border-radius: 10%;
}
.cards{
    display:flex;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
}
.cards .card{
    text-align: center;
}
.cards .card .text{
    margin-top: 10px;
}

/*Quotes Section Start here */
.quote{
    display: flex;
    background-color: aquamarine;
    padding:12px;
    align-items: center;
    flex-direction: column;
}
/*Contact Icons */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: azure;
}
.footer img{
    width: 50%;
    border-radius: 10%;
}

.footer .phone,
.footer .email,
.footer .address{
    text-align: center;
}
.footer .phone p,
.footer .email p ,
.footer .address p{
    margin-top: 10px;
}